@media screen and (min-width: 320px) and (max-width: 640px) 
{ 
    .center {
        width: 70%;
        margin-bottom: 40px;
    }

    .center p {
        font-size: 13px;
        margin: 0;
    }
    .center h1 {
        font-size: 20px;
        margin: 0;
    }
    .logo{

        height: 100px;
        margin-top:20px;
    }

    .banner{
        margin-top: -22px  !important;
    }

    .mentor-card {
        text-align: center;
    }
    .headersocial{
        display: none;
    }
    .mentorsarea{
        text-align: center;
    }

}
@media screen and (max-width: 641px)  and (max-width: 767px)  {

    .headersocial{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .headersocial{
        margin-left: 496px;
    }

} 

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .headersocial{
        margin-left: 715px;
    }
    
}