
@font-face{font-family:'HelveticaNeueLTStd';font-weight:normal;font-style:normal;}
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
.site-logo .logo {
    transform: translate(0%,10%);
}
.site-logo {
    transform: translate(0%,-3%);
}
.center {
    box-shadow: 3px 6px 7px #461a55;
    transform: translate(0%,-100%);
    margin: auto;
    width: 50%;
    padding: 2%;
    background: #461a55;
    color: #fff;
    transition: 0.5s;
}
.center:hover {
    box-shadow: 5px 8px 9px #461a55;
}
.center p {
    font-size: 20px;
    margin: 0;
}
.center h1 {
    font-size: 30px;
    margin: 0;
}
.row.rowpara {
    margin-top: -60px;
    font-size: 18px;
    color: #515151;
}
.px-2 {
    margin: 80px;
}
.become h1{
     font-size: 50px;
    font-weight: 600;
    color: #5d2568;
}
.become h3{
    font-size: 25px;
    color: #5d2568;
    font-weight: 600;
}
.become-points {
    font-size: 18px;
    color: #515151;
    line-height: 1.5;
}
.become-points>ul>li {
    margin-top: 30px!important;
}
.become-points>ul>li:before{
    content: "\f111";
    color: #6d6d6d;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -2em;
    width: 2em;
    font-size: 10px;   
}
.become-points ul{
    padding-left: 20px;
    list-style-type: none;
}
.button {
  border-radius: 4px;
  background-color: #461a55;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.become-pointscal > ul > li {
    margin-bottom: 20px;
    font-size: 18px;
    color: #515151;
    line-height: 26px;
    list-style-type: none;
}
.become-pointscal > ul > li:before {
  content: "\f073"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
.jumbotron {
    background: #fbf5eb;
}
.mentorsarea h2 {
    color: #a8a8a8;
    font-size: 32px;
    font-weight: 600;
}
.mentorsarea h1 {
    color: #b20e0e;
    font-weight: 800;
    font-size: 40px;
}
.mentorsarea h1:after {
    content: "";
    width: 80px;
    height: 8px;
    background: #b20e0e;
    left: 18px;
    top: 100%;
    position: absolute;
}
.dhanani h1:after {
    content: "";
    width: 80px;
    height: 8px;
    background: #0859d6;
    left: 18px;
    top: 100%;
    position: absolute;
}
.mentor-card h2 {
    color: rgb(93 37 104);
    font-size: 22px;
    font-weight: 600;
}
.mentor-card p {
    color: rgb(93 37 104);
    font-size: 16px;
    font-weight: 100;
    line-height: 1;
}
.mentor-card.col-sm-6:hover {
    background: #c6c6c621;
}
.mentor-card.col-sm-3:hover {
    background: #c6c6c621;
}
.interest {
    color: #a8a8a8!important;
}
.mentor-card{
    padding: 10px;
}
.jumbotron h2 {
    font-size: 42px;
    font-weight: 600;
}
.footer{
    background-color: #fbf5eb;
    padding: 10px;
}
.footer p {
    color: #a8a8a8;
}
.footer h3 {
    color: #5d2568;
    font-weight: 600;
    font-size: 20px;
}
.container-fluid.text-center.footer a{
    font-size: 20px; color: #5d2568;     margin-bottom: 10px;
}
.col-sm-5 img, .col-lg-5 img{
    transition: 0.5s;
}
.col-sm-5 img:hover{
        box-shadow: 1px 6px 5px #461a55;
}
.col-lg-5 img:hover{
        box-shadow: 1px 6px 5px #461a55;
}

.headersocial{

      position: absolute;
      font-size: 16px;
      margin-top: 40px;
      margin-left: 910px;
      z-index: 1;

}

.headersocial a{

    color: black;
    text-decoration: none;

}